{{ define "main" }}
    <h1 class="display-1">{{ .Title }}</h1>
    <hr>
    {{ with .Params.image }}
        {{ $image_name := .Params.image }}
        {{ with .Site.GetPage "section" "uploads" }}
            {{ $original := .Resources.GetMatch $image_name }}
            {{ $resize := $original.Fill "200x200" }}
            <img src="{{$resize.RelPermalink}}" class="rounded d-block img-fluid mx-auto mr-md-3 mb-3">
        {{ end }}
    {{ end }}
    {{ .Content }}
    <hr>

    <ul class="list-group float-left">
        <li class="list-group-item"><b>CATEGORY :</b>&nbsp;{{ delimit .Params.category " / " }}</li>
        <li class="list-group-item"><b>TAGS :</b>&nbsp;{{ delimit .Params.tags " / " }}</li>
    </ul>

    <a href="{{ .Site.BaseURL }}" class="btn btn-primary float-right">Back</a>

{{ end }}
