{{ define "main" }}
    <h1 class="display-1">{{ .Title }}</h1>
    <hr>
    <div class="clearfix">
        {{ if isset .Params "image" }}
            {{ $image_name := .Params.image }}
            {{ with .Site.GetPage "section" "uploads" }}
                {{ $original := .Resources.GetMatch $image_name }}
                {{ $resize := $original.Fill "200x200" }}
                <img src="{{$resize.RelPermalink}}" class="rounded d-block img-fluid float-left mr-2">
            {{ end }}
        {{ end }}

        {{ .Content }}
    </div>

    <hr>

    <ul class="list-group float-left">
        <li class="list-group-item"><b>CATEGORY :</b>&nbsp;{{ delimit .Params.category " / " }}</li>
        <li class="list-group-item"><b>TAGS :</b>&nbsp;{{ delimit .Params.tags " / " }}</li>
    </ul>

    <a href="{{ .Site.BaseURL }}" class="btn btn-primary float-right">Back</a>

{{ end }}
